html,body {
  height: 100vh;
  background: white;
}

img {
  border: 5px double  rgb(165, 125, 15);
}

a {
  text-decoration: none;
  color: rgb(165, 125, 15);
}

a:hover {
  color: rgb(141, 104, 4);
}

span {
  color: rgb(141, 104, 4); 
}

span2 {
  color: black; 
}
 
/* --------------------------------------------
Navbar section
-----------------------------------------------*/
#home .container-fluid {
  margin-top: -5rem;
}

.navbar .container-fluid a {
  font-weight: 500;
  padding: 0 2rem;
}

.navbar .container-fluid .offcanvas {
  width: 40vh;
}

.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link{
  color: black;
  background: rgb(199, 150, 4);
  width: 20vh;
  margin: .5rem .5rem;
  padding: .4rem 1rem;
  font-size: 1rem;
}

.navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item:hover{
  padding-left: 1.5rem;
  transition: .9s;
}

/* -------------------------------------------------------------
Back to top
---------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  /* display: none; */
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 10px;
  bottom: 40px;
  background: rgb(141, 104, 4);
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: rgb(146, 121, 53);
  transition: background 0.2s ease-in-out;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgb(165, 125, 15);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(165, 125, 15);
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: rgb(165, 125, 15);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: rgb(165, 125, 15);
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color:  rgb(165, 125, 15);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background:  rgb(236, 229, 208);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color:  rgb(165, 125, 15);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid  rgb(165, 125, 15);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color:  rgb(165, 125, 15);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid  rgb(165, 125, 15);
}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/
#portfolio .container h2 {
  color: rgb(165, 125, 15);
  font-weight: bold;
}

#portfolio .container h3 {
  font-weight: 700;
  font-size: 16px;
  color: black;
  /* margin: 10px 320px; */
}

#portfolio .container h3 a {
  color:rgb(165, 125, 15);
}

.text-primary {
  color: rgb(165, 125, 15);
}

ul li a:hover {
  color: white;
}

@media (min-wdth: 576px) {
  #portfolio .container #carouselExampleDark .carousel-inner {
    margin: 20px 10px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: white;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: rgb(165, 125, 15);
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: rgb(165, 125, 15);
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(165, 125, 15);
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: rgb(165, 125, 15);
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: rgb(165, 125, 15);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: rgb(165, 125, 15);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: rgb(94, 70, 4);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  background: rgb(165, 125, 15);
  color: black;
}

#footer .container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}






